* {
	padding: 0;
	margin: 0;
} 
header{
	width: 100vw;
	background: rgb(39, 39, 39);
	text-align: center;
	text-indent: 0;
}
nav {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: inherit;
	height: 112px;
}
nav ul {
	list-style-type: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding-top: 51px;
	display: block;
	padding-right: 25px;
	padding-left: 25px;
	height: 61px;
}
nav a:hover {
	background: #fff;
	color: #000;
}
nav li {
	display: inline-block;
	transition: 5ms;
	margin: 0;
	padding: 0;
}
#contacts {
	margin: 0;
}
#logo {
	font-size: 26.4px;
	font-family: 'Playfair Display', serif;
	padding: 0;	
	height: auto;
	margin-top: 0;
}
#logo:hover {
	background: inherit;
	color: #fff;	
	padding: 0;		
}


@media (max-width: 1170px) {
	#logo {
		margin-left: 10px;
		font-size: 3.5vw;
		margin-top: 0;
		padding: 0;
	}
	nav {
		width: auto;
		height: 15vw;
		padding-right: 2vw;
		padding-left: 2vw;
	}
	nav ul a {
		font-size: 2vw;
		padding-right: 2.5vw;
		padding-left: 2.5vw;
		padding-top: 6.4vw;
		padding-bottom: 6.4vw;
		height: auto;
	}
}