html {
	font-family: 'Playfair Display', serif;
	background: #fff;
	color: #272727;
	overflow-x: hidden;
	text-align: center;
}
main {
	padding-top: 2.5vw;
	margin: 0 auto;
	width: 1170px;
	display: flex;
	justify-content: top;
	flex-direction: column;
	margin-bottom: 37px;
}
.text1 h1 {
	margin-bottom: 1.5vh;
	font-size: 38px;
}
.text1 p {
	margin-bottom: 5vh;
	line-height: 1.3;
	font-size: 32px;
}
.images {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 3vh;
}
.img {
	width: 317px;
	height: 313px;
	border-radius: 96px;
}
#img1 {
	background: url(../img/home/img1.jpg);
	background-position: center;
	background-size: 125% 100%;	
}
#img2 {
	background: url(../img/home/img2.jpg);
	background-position: center;
	background-size: 100% 125%;	
}
#img3 {
	background: url(../img/home/img3.jpg);
	background-position: center;
	background-size: 135% 100%;	
}
.info {
	font-size: 12pt;
	text-align: center;
	font-size: 16px;
	margin-bottom: 61px;
}
.text2 {
	margin-bottom: 5vh;
	line-height: 1.3;
	font-size: 30px;
}
.adress {
	font-size: 25px;
}
@media (max-width: 1170px) {
	.img {
		width: 30vw;
		height: 29.5vw;
		border-radius: 10vw;
	}
	main {
		width: auto;
		padding-right: 2vw;
		padding-left: 2vw;
	}
	.info {
		font-size: 2.5vw;
	}
	.text1 h1 {
		font-size: 4vw;
	}
	.text1 p,
	.text2 {
		font-size: 3vw;
	}
	.adress {
		font-size: 2.5vw;
	}
}